# About Practice Problem: Big Mart Sales III

https://datahack.analyticsvidhya.com/contest/practice-problem-big-mart-sales-iii/

The data scientists at BigMart have collected 2013 sales data for 1559 products across 10 stores in different cities. Also, certain attributes of each product and store have been defined. The aim is to build a predictive model and find out the sales of each product at a particular store.

Using this model, BigMart will try to understand the properties of products and stores which play a key role in increasing sales.

In [1]:
import pandas as pd
import numpy as np
import sys
sys.path.append('../../hand_made_stuff')
from handmadestuff import fit_predict_report
import statsmodels.formula.api as sm

# Importing data
train_df = pd.read_csv('data/train.csv')
test_df = pd.read_csv('data/test.csv')

# # Dropping rows containing NaN values
# loan_df = loan_df.dropna().iloc[:, 1:]

# Display how the data looks
train_df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [2]:
# Counting an amount of missing values
train_df.isna().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [3]:
train_df[train_df.isna().any(axis=1)].head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
3,FDX07,19.2,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
7,FDP10,NaN,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985,Medium,Tier 3,Supermarket Type3,4022.7636
8,FDH17,16.2,Regular,0.016687,Frozen Foods,96.9726,OUT045,2002,NaN,Tier 2,Supermarket Type1,1076.5986
9,FDU28,19.2,Regular,0.094450,Frozen Foods,187.8214,OUT017,2007,NaN,Tier 2,Supermarket Type1,4710.5350
18,DRI11,NaN,Low Fat,0.034238,Hard Drinks,113.2834,OUT027,1985,Medium,Tier 3,Supermarket Type3,2303.6680

In [4]:
train_df[train_df.Outlet_Type == 'Grocery Store'].head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
23,FDC37,NaN,Low Fat,0.057557,Baking Goods,107.6938,OUT019,1985,Small,Tier 1,Grocery Store,214.3876
28,FDE51,5.925,Regular,0.161467,Dairy,45.5086,OUT010,1998,NaN,Tier 3,Grocery Store,178.4344
29,FDC14,NaN,Regular,0.072222,Canned,43.6454,OUT019,1985,Small,Tier 1,Grocery Store,125.8362
30,FDV38,19.250,Low Fat,0.170349,Dairy,55.7956,OUT010,1998,NaN,Tier 3,Grocery Store,163.7868

In [5]:
train_df[train_df.Outlet_Type == 'Grocery Store'].Outlet_Size.unique()

array([nan, 'Small'], dtype=object)

In [6]:
train_df.loc[train_df.Outlet_Type == 'Grocery Store', 'Outlet_Size'] = 'Small'

In [7]:
train_df[train_df.Outlet_Type == 'Grocery Store'].head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,Small,Tier 3,Grocery Store,732.3800
23,FDC37,NaN,Low Fat,0.057557,Baking Goods,107.6938,OUT019,1985,Small,Tier 1,Grocery Store,214.3876
28,FDE51,5.925,Regular,0.161467,Dairy,45.5086,OUT010,1998,Small,Tier 3,Grocery Store,178.4344
29,FDC14,NaN,Regular,0.072222,Canned,43.6454,OUT019,1985,Small,Tier 1,Grocery Store,125.8362
30,FDV38,19.250,Low Fat,0.170349,Dairy,55.7956,OUT010,1998,Small,Tier 3,Grocery Store,163.7868

In [8]:
train_df[train_df.Outlet_Type == 'Grocery Store'].Outlet_Size.unique()

array(['Small'], dtype=object)

In [9]:
train_df[train_df.isna().any(axis=1)].shape

(3318, 12)

In [10]:
(train_df[(train_df.Outlet_Type == 'Supermarket Type1') & (train_df.Outlet_Location_Type == 'Tier 2')]
 .Outlet_Size
 .unique())

array([nan, 'Small'], dtype=object)

In [11]:
train_df.loc[(train_df.Outlet_Type == 'Supermarket Type1') & (train_df.Outlet_Location_Type == 'Tier 2'), 'Outlet_Size'] = 'Small'

In [12]:
(train_df[(train_df.Outlet_Type == 'Supermarket Type1') & (train_df.Outlet_Location_Type == 'Tier 2')]
 .Outlet_Size
 .unique())

array(['Small'], dtype=object)

In [13]:
train_df[train_df.isna().any(axis=1)].shape

(1463, 12)

In [14]:
(train_df[(train_df.Outlet_Type == 'Supermarket Type1') & (train_df.Outlet_Location_Type == 'Tier 2')]
 .Outlet_Size
 .unique())

array(['Small'], dtype=object)

In [15]:
(train_df[(train_df.Outlet_Type == 'Supermarket Type2')]
 .Outlet_Size
 .unique())

array(['Medium'], dtype=object)

In [16]:
(train_df[(train_df.Outlet_Type == 'Supermarket Type3')]
 .Outlet_Size
 .unique())

array(['Medium'], dtype=object)

In [17]:
train_df[train_df.Item_Weight.isna()].head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
7,FDP10,NaN,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985,Medium,Tier 3,Supermarket Type3,4022.7636
18,DRI11,NaN,Low Fat,0.034238,Hard Drinks,113.2834,OUT027,1985,Medium,Tier 3,Supermarket Type3,2303.6680
21,FDW12,NaN,Regular,0.035400,Baking Goods,144.5444,OUT027,1985,Medium,Tier 3,Supermarket Type3,4064.0432
23,FDC37,NaN,Low Fat,0.057557,Baking Goods,107.6938,OUT019,1985,Small,Tier 1,Grocery Store,214.3876
29,FDC14,NaN,Regular,0.072222,Canned,43.6454,OUT019,1985,Small,Tier 1,Grocery Store,125.8362

In [18]:
train_df.Item_Weight = train_df.Item_Weight.fillna(method='ffill')

In [19]:
train_df.Item_Fat_Content.nunique()

5

In [20]:
train_df.Item_Type.nunique()

16

In [21]:
train_df.Outlet_Identifier.nunique()

10

In [22]:
train_df.Outlet_Size.nunique()

3

In [23]:
train_df.Outlet_Location_Type.nunique()

3

In [24]:
train_df.Outlet_Type.nunique()

4

In [25]:
train_df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,Small,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [26]:
X_train = train_df.iloc[:, 1:-1].values
y_train = train_df.iloc[:, -1].values

In [27]:
X_train[0]

array([9.3, 'Low Fat', 0.016047301, 'Dairy', 249.8092, 'OUT049', 1999,
       'Medium', 'Tier 1', 'Supermarket Type1'], dtype=object)

In [28]:
# Encoding categorical data
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

# Encoding the source values
labelencoder_X = LabelEncoder()
categorical_sources = [1, 3, 5, 7, 8, 9]
for i in categorical_sources:
    X_train[:, i] = labelencoder_X.fit_transform(X_train[:, i])

In [29]:
# Splitting the source values into the categorical and the continuous variables
X_1 = X_train[:, categorical_sources]
X_2 = X_train[:, [item for item in list(range(len(X_train[0]))) if item not in categorical_sources]]

In [30]:
# Hot encoding the categorical values
onehotencoder = OneHotEncoder()

In [31]:
categorical_sources.remove(7)

In [32]:
X_new = X_2
for i in range(len(categorical_sources)):
    # Encoding the fat content column values
    X_1_current_encoded = onehotencoder.fit_transform(X_1[:, i].reshape(-1, 1)).toarray()
    # Avoiding the dummy variable trap
    X_1_current_encoded = X_1_current_encoded[:, :-1]
    X_new = np.concatenate((X_new, X_1_current_encoded), axis = 1)
    # Displaying the data
    print(len(X_new[0]))

8
23
32
34
36

In [33]:
# Scaling the data
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_scaled = sc_X.fit_transform(X_new)

F:\STUDY\programming\anaconda\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype object was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
F:\STUDY\programming\anaconda\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype object was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [34]:
sc_y = StandardScaler()
y_scaled = sc_y.fit_transform(y_train.reshape(-1, 1))

In [35]:
X_scaled = np.append(np.ones((X_scaled.shape[0], 1)), X_scaled, axis = 1)
regressor_OLS = sm.OLS(y_scaled, X_scaled).fit()
print(regressor_OLS.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.564
Model:                            OLS   Adj. R-squared:                  0.562
Method:                 Least Squares   F-statistic:                     353.8
Date:                Sun, 25 Nov 2018   Prob (F-statistic):               0.00
Time:                        00:35:15   Log-Likelihood:                -8559.8
No. Observations:                8523   AIC:                         1.718e+04
Df Residuals:                    8491   BIC:                         1.741e+04
Df Model:                          31
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.0036      0.009      0.416      0.678      -0.013       0.021
x1            -0.0039      0.007     -0.543      0.587      -0.018       0.010
x2            -0.0108      0.008     -1.378      0.168      -0.026       0.005
x3             0.5678      0.007     78.642      0.000       0.554       0.582
x4         -1.889e+11   2.59e+11     -0.729      0.466   -6.97e+11    3.19e+11
x5             0.0028      0.014      0.209      0.834      -0.024       0.030
x6             0.0172      0.031      0.563      0.574      -0.043       0.077
x7             0.0289      0.030      0.978      0.328      -0.029       0.087
x8             0.0073      0.010      0.730      0.465      -0.012       0.027
x9            -0.0046      0.016     -0.284      0.776      -0.036       0.027
x10           -0.0028      0.012     -0.239      0.811      -0.026       0.020
x11           -0.0014      0.009     -0.148      0.882      -0.020       0.017
x12           -0.0005      0.016     -0.033      0.974      -0.032       0.031
x13           -0.0110      0.016     -0.672      0.502      -0.043       0.021
x14           -0.0102      0.018     -0.574      0.566      -0.045       0.025
x15            0.0007      0.020      0.035      0.972      -0.039       0.040
x16           -0.0022      0.011     -0.194      0.847      -0.024       0.020
x17           -0.0053      0.015     -0.357      0.721      -0.035       0.024
x18           -0.0124      0.018     -0.677      0.498      -0.048       0.023
x19           -0.0036      0.014     -0.260      0.795      -0.031       0.023
x20           -0.0038      0.010     -0.363      0.717      -0.024       0.017
x21            0.0080      0.009      0.935      0.350      -0.009       0.025
x22           -0.0083      0.020     -0.414      0.679      -0.048       0.031
x23           -0.0077      0.014     -0.550      0.583      -0.035       0.020
x24         3.791e+11    5.2e+11      0.729      0.466   -6.41e+11     1.4e+12
x25         1.232e+12   1.69e+12      0.729      0.466   -2.08e+12    4.55e+12
x26         1.203e+12   1.65e+12      0.729      0.466   -2.03e+12    4.44e+12
x27         1.364e+11   1.87e+11      0.729      0.466   -2.31e+11    5.03e+11
x28         2.486e+11   3.41e+11      0.729      0.466    -4.2e+11    9.17e+11
x29        -3.242e+10   4.45e+10     -0.729      0.466    -1.2e+11    5.48e+10
x30         1.184e+12   1.63e+12      0.729      0.466      -2e+12    4.37e+12
x31          1.17e+12   1.61e+12      0.729      0.466   -1.98e+12    4.32e+12
x32         4.059e+11   5.57e+11      0.729      0.466   -6.86e+11     1.5e+12
x33        -8.298e+11   1.14e+12     -0.729      0.466   -3.06e+12     1.4e+12
x34         6.322e+11   8.68e+11      0.729      0.466   -1.07e+12    2.33e+12
x35         9.529e+10   1.31e+11      0.729      0.466   -1.61e+11    3.52e+11
x36        -9.973e+11   1.37e+12     -0.729      0.466   -3.68e+12    1.69e+12
==============================================================================
Omnibus:                      952.872   Durbin-Watson:                   2.004
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             2274.342
Skew:                           0.662   Prob(JB):                         0.00
Kurtosis:                       5.157   Cond. No.                     3.95e+15
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.68e-27. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [36]:
import statsmodels.formula.api as sm
def backwardElimination(x, y, SL):
    numVars = len(x[0])
    temp = np.zeros(x.shape)
    for i in range(0, numVars):
        regressor_OLS = sm.OLS(y, x).fit()
        maxVar = max(regressor_OLS.pvalues).astype(float)
        adjR_before = regressor_OLS.rsquared_adj.astype(float)
        if maxVar > SL:
            for j in range(0, numVars - i):
                if (regressor_OLS.pvalues[j].astype(float) == maxVar):
                    temp[:,j] = x[:, j]
                    x = np.delete(x, j, 1)
                    tmp_regressor = sm.OLS(y, x).fit()
                    adjR_after = tmp_regressor.rsquared_adj.astype(float)
                    if (adjR_before >= adjR_after):
                        x_rollback = np.hstack((x, temp[:,[0,j]]))
                        x_rollback = np.delete(x_rollback, j, 1)
                        print (regressor_OLS.summary())
                        return x_rollback
                    else:
                        continue
    regressor_OLS.summary()
    return x

In [37]:
SL = 0.05
X_modeled = backwardElimination(X_scaled, y_scaled, SL)

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.564
Model:                            OLS   Adj. R-squared:                  0.562
Method:                 Least Squares   F-statistic:                     378.6
Date:                Sun, 25 Nov 2018   Prob (F-statistic):               0.00
Time:                        00:35:17   Log-Likelihood:                -8557.6
No. Observations:                8523   AIC:                         1.718e+04
Df Residuals:                    8493   BIC:                         1.739e+04
Df Model:                          29
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       1.206e-15      0.007   1.68e-13      1.000      -0.014       0.014
x1            -0.0038      0.007     -0.532      0.594      -0.018       0.010
x2            -0.0092      0.008     -1.228      0.219      -0.024       0.006
x3             0.5680      0.007     78.749      0.000       0.554       0.582
x4            -0.0330      0.003     -9.861      0.000      -0.040      -0.026
x5             0.0033      0.014      0.241      0.809      -0.023       0.030
x6             0.0176      0.031      0.575      0.565      -0.042       0.078
x7             0.0291      0.030      0.984      0.325      -0.029       0.087
x8             0.0072      0.010      0.714      0.475      -0.012       0.027
x9            -0.0045      0.008     -0.561      0.575      -0.020       0.011
x10           -0.0025      0.007     -0.332      0.740      -0.017       0.012
x11           -0.0014      0.007     -0.189      0.850      -0.016       0.013
x12           -0.0110      0.008     -1.385      0.166      -0.027       0.005
x13           -0.0098      0.008     -1.213      0.225      -0.026       0.006
x14           -0.0028      0.008     -0.374      0.708      -0.018       0.012
x15           -0.0055      0.008     -0.681      0.496      -0.021       0.010
x16           -0.0121      0.009     -1.421      0.155      -0.029       0.005
x17           -0.0037      0.008     -0.482      0.630      -0.019       0.011
x18           -0.0040      0.007     -0.531      0.596      -0.019       0.011
x19            0.0078      0.007      1.082      0.279      -0.006       0.022
x20           -0.0081      0.008     -0.961      0.337      -0.025       0.008
x21           -0.0074      0.008     -0.946      0.344      -0.023       0.008
x22           -0.2391      0.006    -38.173      0.000      -0.251      -0.227
x23            0.0190      0.003      6.054      0.000       0.013       0.025
x24            0.0392      0.006      6.986      0.000       0.028       0.050
x25           -0.0775      0.006    -12.087      0.000      -0.090      -0.065
x26           -0.2271      0.007    -34.777      0.000      -0.240      -0.214
x27            0.2086      0.005     38.836      0.000       0.198       0.219
x28            0.0428      0.006      7.501      0.000       0.032       0.054
x29            0.0012      0.006      0.211      0.833      -0.010       0.012
x30            0.0664      0.007      9.672      0.000       0.053       0.080
x31            0.0190      0.003      6.054      0.000       0.013       0.025
x32            0.1303      0.005     24.524      0.000       0.120       0.141
x33           -0.0310      0.006     -5.326      0.000      -0.042      -0.020
x34            0.0553      0.003     19.482      0.000       0.050       0.061
==============================================================================
Omnibus:                      964.764   Durbin-Watson:                   2.003
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             2309.380
Skew:                           0.668   Prob(JB):                         0.00
Kurtosis:                       5.172   Cond. No.                     5.72e+15
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is  8e-28. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [38]:
# Splitting the dataset into train and test datasets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_modeled, y_scaled, test_size = 0.2,
                                                    random_state = 0)

In [39]:
# Fitting Multiple Linear Regression to the Training set
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [40]:
# Predicting the test set results
y_pred = regressor.predict(X_test)

In [41]:
def calculate_rmse(y_test, y_pred):
    rmse = 0
    y_test, y_pred = y_test.ravel(), y_pred.ravel()
    for i in range(len(y_test)):
        rmse += (y_test[i] - y_pred[i]) ** 2
    return (rmse / len(y_test)) ** (1/2)

In [42]:
calculate_rmse(y_test, y_pred)

0.6659160147309358

In [43]:
# Fitting SVR to the dataset
from sklearn.svm import SVR
regressor_svr = SVR()
regressor_svr.fit(X_train, y_train.ravel())

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='auto',
  kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [44]:
# Predicting the test set results
y_pred_svr = regressor_svr.predict(X_test)

In [45]:
calculate_rmse(y_test, y_pred_svr)

0.6496713232999762

In [46]:
# Fitting the Regression Model to the dataset
from sklearn.ensemble import RandomForestRegressor
regressor_rf = RandomForestRegressor(n_estimators = 500, 
                                     random_state = 0)
regressor_rf.fit(X_train, y_train.ravel())

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=500, n_jobs=1,
           oob_score=False, random_state=0, verbose=0, warm_start=False)

In [47]:
# Predicting the test set results
y_pred_rf = regressor_rf.predict(X_test)

In [48]:
calculate_rmse(y_test, y_pred_rf)

0.6633598996291715